*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 800;
  --bluee: #0ea5e9;
}

p, div {
  font-family: 'Roboto', 'sans-serif';
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background: var(--bluee);
  grid-row: 1 / 3;
  padding: 10px;
}

.sidebar-container {
  display: grid;
  row-gap: 50px;
}

.sidebar-title {
  display: grid;
  grid-template-columns: 35px auto;
  align-items: center;
  column-gap: 10px;
}

.sidebar-title p {
  color: white;
  font-size: 1.25rem;
}

.sidebar-title > i {
  color: white;
  font-size: 35px;
}

.nav-section, .branding-section {
  display: grid;
  row-gap: 10px;
}

.nav-section div, .branding-section div {
  display: grid;
  grid-template-columns: 35px auto;
  align-items: center;
  column-gap: 10px;
}

.nav-section i, .branding-section i {
  color: white;
  justify-self: center;
}

.nav-section p, .branding-section p {
  color: white;
  font-size: 1rem;
}

.header {
  background: white;
  display: grid;
  padding: 10px 30px;
  grid-template-columns: 1.5fr 1fr;
}

.left-header, .right-header {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.right-header {
  justify-content: end;
}

.search-container {
  display: grid;
  align-items: center;
  grid-template-columns: 35px auto;
}

.search-container i {
  color: black;
}

.search-place {
  height: 55%;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 35px;
}

.greeting-container {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  column-gap: 10px;
}

.dog-img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.greeting p {
  color: black;
}

.greeting > p:first-child {
  font-size: 0.75rem;
}

.profile-container {
  display: grid;
  padding-left: 20px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.profile-container > i {
  justify-self: end;
  color: black;
  font-size: 20px;
}

.dog-img-small {
  justify-self: center;
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.profile-container > p {
  color: black;
  font-size: 0.9rem;
  text-align: left;
  justify-self: start;
}

.action-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.action {
  background-color: var(--bluee);
  border-radius: 35px;
  width: 90px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  font-size: 0.75rem;
}

.main-content {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 2fr 1fr;
}